.color-btn {
  transition: 0.5s;
  background: transparent;
  color: white;
}

.color-btn:hover {
  color: #a73f85 !important;
  background: white !important;
  border-color: white !important;
}

.white-btn {
  transition: 0.5s !important;
  background: transparent !important;
  color: #a73f85 !important;
}

.white-btn:hover {
  color: white  !important;
  background: #a73f85  !important;
  border-color: #a73f85  !important;
}

.color-btn-borderless {
  transition: 0.5s !important;
  background: transparent !important;
  color: white !important;
  border-color: transparent !important;
}

.color-btn-borderless:hover {
  color: #a73f85 !important;
  background: white !important;
  border-color: transparent !important;
}

.white-btn-borderless {
  transition: 0.5s !important;
  background: transparent !important;
  color: #a73f85 !important;
  border-color: transparent !important;
}

.white-btn-borderless:hover {
  color: white !important;
  background: #a73f85 !important;
  border-color: transparent !important;
}

.color-btn-permanent {
  color: #a73f85 !important;
  background: white !important;
  border-color: white !important;
  transition: 0.3s;
}

.color-btn-permanent:hover {
  color: #a73f85 !important;
  background: white !important;
  border: #a73f85 solid 1px !important;
}