.light-text {
    font-weight: lighter !important;
}

.rn-title {
    font-size: 2.5rem;
    font-weight: lighter;
}

.bottom-text {
    font-size: 1rem;
    font-weight: lighter;
    color: black;
}
